<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gaurav.learn.kotlin.android.lifecycles">

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLifecycles"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SecondActivity"
            android:exported="false" />

        <activity android:name=".TransparentActivity"
            android:theme="@style/ThemeTranslucent"
            android:exported="false"/>

        <activity android:name=".fragments.FragmentHostActivity"/>

        <activity
            android:name=".configchanges.ConfigChangeActivity"
            android:windowSoftInputMode="stateUnchanged"
            />

        <!--
        The `android:windowSoftInputMode="stateUnchanged"` attribute in
        your `AndroidManifest.xml` controls how the soft keyboard behaves when the activity starts.
        Specifically, `stateUnchanged` means the activity will not change the state
        of the soft keyboard; it will remain as it was before the activity was started.
        This is useful if you want to preserve the keyboard state when navigating between activities.
        -->

        <activity
            android:name=".configchanges.ManualConfigChangeActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:configChanges="orientation|screenLayout|screenSize"
            />


    </application>

</manifest>